<div class="mdl-grid items">
    <div class="mdl-cell mdl-cell--12-col">
        Angular2 Site
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <app-customers [customers]="customers">
      </app-customers>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <app-specialties [specialties]="specialties">
      </app-specialties>
      <div class="mdl-cell mdl-cell--3-col"></div>
      <app-technologies [technologies]="technologies">
      </app-technologies>
      </div>
    </div>

