<div class="container">
<app-header></app-header>  
</div>
  <div class="jumbotron custom-jumbotron">
    <div class="container" id="top-section">
      <h1 class="center-header">CHARON TECH</h1>
      <app-header></app-header>
    </div>
  </div> 
  <div class="container">
    <div class="btn-container">
      <div>
        <a md-button [routerLink]="links.customers" routerLinkActive="active">Customers</a>
        <a md-button [routerLink]="links.specialties" routerLinkActive="active">Specialties</a>
        <a md-button [routerLink]="links.technologies" routerLinkActive="active">Technologies</a>
        </div>
     </div>
      <router-outlet></router-outlet> 
      <hr>
      <app-footer></app-footer>
  </div>
