@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
 
/* ==========================================================================
Custom styles
========================================================================== */

/*General styles*/

body {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
  }

p{font-family: 'Quicksand', sans-serif;
font-size: 14pt;
}

h2{font-family: 'Quicksand', sans-serif;
font-weight: bold;
}

.custom-jumbotron{
 /*background-color: #22AB50 !important;*/
background-image: url(assets/touchscreen.jpg) !important;
background-repeat: no-repeat;
/*background-position: center;*/
background-size: 30%; 
background-color: #000 !important;
animation: imageAnimation 2.5s linear;
/*animation-timing-function: ease-in-out;*/
backface-visibility: hidden;
/*background-size: cover;*/
background-position: 18% 46%; 
color: transparent;
height: 100%;
/*left: 0;*/
/*position: fixed;*/
/*top: 0;*/
width: 100%;
}

@keyframes imageAnimation {
  0% {
    opacity:0;
    background-position: 40% 46%; 
  }
  50% {
    opacity:0.5;
    background-position: 28% 46%; 
  }
  100% {
    opacity:1.0;
    
    background-position: 18% 46%;
  }
  /*50% { background-position: 50% 50%; }
	50% { background-position: -20px 0px; }*/
}



.quotes{
 font-family: 'Space Mono', monospace;
}

#top-section h3 {
 text-align:center;

}

#top-section h1 {
 text-align:center;
 font-family: 'Orbitron', sans-serif;
 font-family: 'Audiowide', cursive;
 color:#fff;
}

#top-section p{
font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
 font-size: 2rem;
 line-height: 1.7;
}

.text-emphasis{
 font-size: 1rem;
}

hr{
margin-top:5px;
margin-bottom:5px;
height:1px;
width:100%;
border-top:1px solid gray;
}


.fa-override{
 font-size: 50px !important;
}


.oneup-fa-style{
border: 1px solid #fff257;
}

.navbar-inverse{
 color:#fff; 
 background-color: #000;
}

nav{padding:15px;}

.mat-button-ripple{border-right: 1px solid;}

.mat-menu-panel{padding-top: 50px;}

.mat-menu-ripple{border-bottom: 1px solid #DCDCDC;} 